<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /kolae/

    # Passa o cabeçalho Authorization
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

    # Se o arquivo ou pasta física existir, acessa direto
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Manda tudo para o index.php
    RewriteRule ^ index.php [L]
</IfModule>